<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>145187365644-jsuf7c5302b8q3f6amvvk1e4397nrrjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145187365644-jsuf7c5302b8q3f6amvvk1e4397nrrjd</string>
	<key>API_KEY</key>
	<string>AIzaSyC9j9hl51cZ80vDaxV0-J8TexTMO7Em85w</string>
	<key>GCM_SENDER_ID</key>
	<string>145187365644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.district196.Summer-Excel</string>
	<key>PROJECT_ID</key>
	<string>summer-excel-1521218202763</string>
	<key>STORAGE_BUCKET</key>
	<string>summer-excel-1521218202763.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145187365644:ios:055c7dc58fc2751d</string>
	<key>DATABASE_URL</key>
	<string>https://summer-excel-1521218202763.firebaseio.com</string>
</dict>
</plist>